<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
  <add name="TelegramApp" connectionString="data source=.\sqlexpress;
         initial catalog=TelegramApp;User Id=admin;Password=admin;
         MultipleActiveResultSets=True; " providerName="System.Data.SqlClient" />
  <add name="DBconnectionString" connectionString="data source =.\sqlexpress; User Id = admin;Password = admin;
         MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="Pages"  value="4" />
    <add key="DefaultDir" value=".\Rep" />
    <add key="MeetingFile" value="\Meetings.json" />
    <add key="BotToken" value="bot893396919:AAFxu9kzSkbCBTnljczN5JgRvLEZr0-OH8k" />
    <add key="ChatMy ID" value="-320421142" />
    <add key="ChatGeneral ID" value="-374072583" />
    <add key="ChatUpdatesFileName" value="\ChatUpdates.json" />
    </appSettings>
 
</configuration>
