<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Pages"  value="4" />
    <add key="DefaultDir" value=".\Rep" />
    <add key="MeetingFile" value="\Meetings.json" />
    <add key="TelegramBotToken" value="bot893396919:AAH2KP-9VEJ8dGobaxkJjsO3s3Rv_w-0KVM" />


  </appSettings>
</configuration>